.recipe-section{
    background: transparent;
}
.recipe-grid{
    width: 85%;
    max-width: 1200px;
    margin: 80px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}


.recipe-card{
    width: 100%;
}

.card-content{
    display: flex;
    align-items: center;
    gap: 30px;
}

.card-content img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}



.card-text{
    flex: 1;
}

.card-text h3{
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    color: var(--secondary);
    margin-bottom: 12px;
    line-height: 1.2;
    margin-right: 120px
   
}

.card-line{
    width: 70px;
    height: 3px;
    background: var(--primary);
    margin-bottom: 18px;
    /* margin-left:auto; */
    margin-left: 130px

}

.card-text p{
    color: var(--text);
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}


@media (max-width:1200px){

    .recipe-grid{
        width:90%;
        gap:45px;
    }

    .card-text h3{
        font-size:28px;
    }

}



@media (max-width:991px){

    .recipe-grid{
        width:90%;
        grid-template-columns:1fr;
        gap:45px;
    }

    .card-content{
        gap:25px;
    }

}


@media (max-width:768px){

    .recipe-grid{
        width:92%;
        margin:60px auto;
    }

    .card-content{
        gap:20px;
    }

    .card-content img{
        width:100px;
        height:100px;
    }

    .card-text h3{
        font-size:26px;
    }

    .card-text p{
        font-size:15px;
    }

}



@media (max-width:576px){

    .recipe-grid{
        width:95%;
        gap:35px;
    }

    .card-content{
        flex-direction:column;
        text-align:center;
    }

    .card-content img{
        width:95px;
        height:95px;
    }

    .card-text{
        text-align:center;
    }

    .card-line{
        margin:0 auto 18px;
    }

    .card-text p{
        text-align:center;
    }

}


@media (max-width:430px){
    .recipe-title{
        padding: 30px;
    }
    .search-container{
        width: 90%;
    }

    .recipe-grid{
        width:94%;
        margin:50px auto;
    }

    .card-content img{
        width:85px;
        height:85px;
    }

    .card-text h3{
        font-size:22px;
    }

    .card-text p{
        font-size:14px;
        line-height:1.7;
    }

}